@tailwind base;
@tailwind components;
@tailwind utilities;

.react-multi-carousel-item {
  /* padding: 40px 40px 40px 0; */
  padding: 20px;
  /* padding-bottom: 40px; */
  padding-top: 80px;
  width: 100%;
}


.padding-change {
  padding-top: 20px;
}

.gd-carousel-wrapper {
  position: relative;
}

.gd-carousel {
  position: unset;

  .react-multiple-carousel__arrow {
    position: absolute;
  }

  .react-multi-carousel-dot button {
    margin-top: 2px;
    margin-left: 5px;
    border: 4px salmon;
    height: 22px;
    width: 22px;
  }

  .react-multi-carousel-dot--active button {
    background: rgba(103, 206, 103, 1);
  }

  .react-multiple-carousel__arrow--left {
    left: calc(90% + 1px);
    top: 7px;
    border: 3px solid greenyellow;
    background-color: #20b15a;
  }

  .react-multiple-carousel__arrow--right {
    right: calc(10% + 1px);
    top: 7px;
    border: 3px solid greenyellow;
    background-color: #20b15a;
  }
}

.custom-dot-list-style button {
  background: rgb(231, 85, 23);
}

@media screen and (max-width: 612px) {
  .one {
    text-align: center;
    /* align-items: center; */
  }
  .gd-carousel .react-multiple-carousel__arrow--left {
    left: calc(10% + 1px);
    top: 7px;
    border: 3px solid greenyellow;
    background-color: #20b15a;
  }
}


.sidebar {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  padding: 4rem 0;
}

.sidebar>a:first-child {
  padding: 0;
}

.sidebar>a>img {
  width: 10%;
  transition: all 0.5s;
}

.sidebar>a>img:hover {
  filter: drop-shadow(0 0 10px rgb(250, 45, 175));
}

.sidebar a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.493);
  font: 200 1rem "Roboto";
  padding: 2rem;
  transition: all 0.5s;
}

.sidebar a:hover {
  color: rgb(250, 45, 175);
  transform: scale(1.1);
}

.sidebar a>P {
  display: flex;
  align-items: center;
}

.sidebar a>p>svg {
  margin-right: 0.5rem;
}

.MuiTypography-root {
  background-color: #fff !important;
}