@tailwind base;
@tailwind components;
@tailwind utilities;

.react-multi-carousel-item {
  /* padding: 40px 40px 40px 0; */
  padding: 20px;
  /* padding-bottom: 40px; */
  padding-top: 80px;
  width: 100%;
}


.padding-change {
  padding-top: 20px;
}

.gd-carousel-wrapper {
  position: relative;
}

.gd-carousel {
  position: unset;

  .react-multiple-carousel__arrow {
    position: absolute;
  }

  .react-multi-carousel-dot button {
    margin-top: 2px;
    margin-left: 5px;
    border: 4px salmon;
    height: 22px;
    width: 22px;
  }

  .react-multi-carousel-dot--active button {
    background: rgba(103, 206, 103, 1);
  }

  .react-multiple-carousel__arrow--left {
    left: calc(90% + 1px);
    top: 7px;
    border: 3px solid greenyellow;
    background-color: #20b15a;
  }

  .react-multiple-carousel__arrow--right {
    right: calc(10% + 1px);
    top: 7px;
    border: 3px solid greenyellow;
    background-color: #20b15a;
  }
}

.custom-dot-list-style button {
  background: rgb(231, 85, 23);
}

@media screen and (max-width: 612px) {
  .one {
    text-align: center;
    /* align-items: center; */
  }
  .gd-carousel .react-multiple-carousel__arrow--left {
    left: calc(10% + 1px);
    top: 7px;
    border: 3px solid greenyellow;
    background-color: #20b15a;
  }
}
